.lin-gradient{
    border: 1px solid black;
    height: 100px;
    width: 150px;
    background-image: linear-gradient(blue,green);
    background-image: linear-gradient(to top left, green,yellow);
    background-image: linear-gradient(to top left,rgba(255,0,0,0),rgba(0,0,255,1));
}

#p1{
    text-shadow: 3px 3px 3px rgb(77, 146, 49, 1);
    color: red;
}

.rad-gradient{
    border: 1px solix pink;
    height: 300px;
    width: 250px;

    background-image: radial-gradient(green,aqua,blue,black);
}